.btn {
    padding: 16px 24px;
    border-radius: 22px;
    text-decoration: none;
    min-width: 130px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;



    &--green {
        color: #FBFCFE;
        background: #BA4270;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        background-color: #640577;
        color: #ff5100;
        box-shadow: 1px 8px inset;

        &:hover {  
            background-color: #640577;
            color: #ff5100;
            box-shadow: 1px 8px inset;
            background: #dc1460;
        }

        &:active {
            background-color: #640577;
            color: #ff5100;
            box-shadow: 1px 8px inset;
            background: #d1115a;
        }
    }
}