.footer {
    
    background: #1B262F;
    display: flex;
    align-items: center;

    justify-content: space-between;

    &__block {
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__menu {
            display: flex;



            &__item {
                list-style: none;
                padding: 15px;

                &__link {
                    text-decoration: none;
                    font-family: 'Public Sans';
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FBFCFE;
                    opacity: 0.7;

                    &:hover,
                    &:active {
                        opacity: 1;

                    }
                }



            }

        }


    }

    &__secial {
        width: 50px;

        &__item {
            color: white;

            &:hover,
            &:active {
                color: #DA6D97;
            }

            &>svg {
                background: white;
            }
        }

    }
}




@media only screen and (max-width: 880px) {
    .footer {
        flex-direction: column;
        
        margin-top: 60px;

        &__block {
            flex-direction: column;
            align-items: center;
            

            &__menu {
                display: flex;
                flex-direction: column;
                align-items: center;



               
            }


        }

      
    }
}