header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    



    .logo {
        img {
            display: flex;
        }
    }

    .toggle {
        width: 28px;
        height: 24px;
        display: none;
    }


    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__nav {
            display: flex;
            list-style: none;
            margin-left: 40px;
            margin-right: auto;

            &__item {
                display: flex;

                &__link {
                    padding: 10px 15px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: capitalize;
                    position: relative;
                    font-family: 'Public Sans';
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: -0.115385px;
                    color: #36536B;
                    opacity: 0.7;

                    &:hover {
                        transition: .5s;
                        opacity: 1;
                        background-color: #640577;
                        color: #ff5100;
                        box-shadow: 1px 8px inset;
                    }


                    &:active {
                        opacity: 1;
                        
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 715px) {
    header {
        position: relative;
        height: 10vh;
        padding-top: 15px !important;
        padding-bottom: 15px !important;

        .toggle {
            &:hover {
                cursor: pointer;
                background-color: #640577;
                color: #ff5100;
                box-shadow: 1px 8px inset;
            }

            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            &::after,
            &::before {
                content: "";
            }

            &::after,
            &::before,
            &>span {
                width: 100%;
                height: 2px;
                background-color: black;
            }

            &--active {

                &::after,
                &::before {
                    position: absolute;
                }

                &::after {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                &>span {
                    opacity: 0;
                }

                &::before {
                    bottom: 50%;
                    transform: translateY(50%) rotate(-45deg);
                }
            }
        }

        .navbar {
            position: absolute;
            flex-direction: column;
            top: 100%;
            right: 0;
            height: 90vh;
            padding: 20px;
            visibility: hidden;
            opacity: 0;

            &__nav {
                padding: 0;
                width: 80%;
                background: #FFFFFF;
                border-radius: 4px;
                flex-direction: column;

                &__item {
                    justify-content: center;
                }
            }

            &--active {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}